<center>
<img src="../img/ml_theme.png">
# MLClass. "Прикладной анализ данных"
# Модуль "Машинное обучение с помощью Python"
<img src="../img/mlclass_logo.jpg" height="240" width="240">
#### Интенсивный курс по изучению машинного обучения и анализа данных
## Авторы материала: преподаватель ФКН НИУ ВШЭ Кашницкий Юрий, руководитель совместных проектов Яндекса и CERN Андрей Устюжанин
</center>
Материал распространяется на условиях лицензии <a href="https://opensource.org/licenses/MS-RL">Ms-RL</a>. Можно использовать в любых целях, кроме коммерческих, но с обязательным упоминанием автора материала.

# Занятие 2. Обзор средств  анализа данных на языке Python
## Практическое задание. Анализ данных пассажиров "Титаника"

In [1]:
%pylab inline
import seaborn as sns

Populating the interactive namespace from numpy and matplotlib

## Pandas - библиотека для python, часто используется для быстрого анализа данных
Начнем с того, что прочитаем в память данные из скачанного файла

In [2]:
import pandas as pd
data = pd.read_csv('../data/titanic_train.csv')

#### Данные представлены в виде таблицы
просмотрим первые 10 строк

In [3]:
data.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S

#### Возьмем колонку Parch - кол-во родителей и детей пассажира на борту (из неё - первые 10 элементов).

In [4]:
data['Parch'][:10]

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    1
8    2
9    0
Name: Parch, dtype: int64

#### Возьмем только тех пассажиров, которые сели в Cherbourg (Embarked=C) и заплатили более 200 у.е. (fare > 200).

Убедитесь, что Вы понимаете, как эта конструкция работает. <br />
Если нет - посмотрите, как вычисляется выражение в квадратных в скобках.

In [5]:
data[(data['Embarked'] == 'C') & (data['Fare'] > 200)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24,0,1,PC 17558,247.5208,B58 B60,C
258,259,1,1,"Ward, Miss. Anna",female,35,0,0,PC 17755,512.3292,NaN,C
299,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50,0,1,PC 17558,247.5208,B58 B60,C
311,312,1,1,"Ryerson, Miss. Emily Borie",female,18,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
377,378,0,1,"Widener, Mr. Harry Elkins",male,27,0,2,113503,211.5000,C82,C
380,381,1,1,"Bidois, Miss. Rosalie",female,42,0,0,PC 17757,227.5250,NaN,C
557,558,0,1,"Robbins, Mr. Victor",male,NaN,0,0,PC 17757,227.5250,NaN,C
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36,0,1,PC 17755,512.3292,B51 B53 B55,C
700,701,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18,1,0,PC 17757,227.5250,C62 C64,C
716,717,1,1,"Endres, Miss. Caroline Louise",female,38,0,0,PC 17757,227.5250,C45,C
737,738,1,1,"Lesurer, Mr. Gustave J",male,35,0,0,PC 17755,512.3292,B101,C
742,743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21,2,2,PC 17608,262.3750,B57 B59 B63 B66,C

### 1. Сколько мужчин / жещин находилось на борту?

In [ ]:
{здесь будет код}

### 2. Выведите рапределение по переменной Pclass (социально-экономический статус).
### дополнительно - это же распределение только для мужчин / женщин

In [ ]:
{здесь будет код}

### 3. Сколько в среднем заплатил один пассажир? Найдите дисперсию этой величины. Сколько все пассажиры заплатили в сумме?

In [ ]:
{здесь будет код}

### 4. Правда ли, что молодые выживали чаще (с большей вероятностью), чем старики?

In [ ]:
{здесь будет код}

### 5. Правда ли, что женщины выживали чаще мужчин?

In [ ]:
{здесь будет код}

### 6. Какое самое популярное мужское имя? (среди тех, кто был на борту, конечно)

In [ ]:
{здесь будет код}

### 7. Сравните распределение стоимости билетов у спасенных и у погибших
Есть мысли, откуда появилось это различие?

In [ ]:
{здесь будет код}

### 8. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания?

In [ ]:
{здесь будет код